a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

body {
    text-align: center;
    background-color: lightblue;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}
