<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add new doctor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Create new doctor</h1>
<form th:action="@{/addDoctor}"
      th:object="${doctorForm}" method="POST">
    First Name:
    <input type="text" th:field="*{name}" />
    <br/>
    Last Name:
    <input type="text" th:field="*{surname}" />
    <br/>
    Licence number:
    <input type="text" th:field="*{licenceNumber}" />
    <br/>
    Nationality:
    <input type="text" th:field="*{nationality}" />
    <br/>
    <input type="submit" value="Add doctor" />
</form>
</body>
</html>