<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hospital List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h1>Hospital details</h1>

<div>
    <h2 th:utext="'Name: ' + ${hospital.name}"></h2>
    <h2 th:utext="'Town: ' + ${hospital.town}"></h2>
    <h2 th:utext="'Street: ' + ${hospital.street}"></h2>
    <h2 th:utext="'Country: ' + ${hospital.country}"></h2>
</div>
<br><br>
<h1> Doctors list</h1>

<center>
    <table border="1">
        <tr>
            <th>Doctor name</th>
            <th>Doctor surname</th>
            <th>Doctor licence number</th>
            <th>Doctor position</th>
            <th>Doctor contract start date</th>
            <th>Doctor contract end date</th>

        </tr>
        <tr th:each="doctor : ${doctors}">
            <td th:utext="${doctor.name}">...</td>
            <td th:utext="${doctor.surname}">...</td>
            <td th:utext="${doctor.licenceNumber}">...</td>
            <td th:utext="${doctor.position}">...</td>
            <td th:utext="${doctor.contractStartDate}">...</td>
            <td th:utext="${doctor.contractEndDate}">...</td>
        </tr>
    </table>
</center>
<br/>
<br/>
<br/>
<a th:href="@{/hospitalList}">Back</a>
<br><br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>